* {
    font-family: 'Roboto', sans-serif;
}

.ant-layout {
    min-height: 100vh;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}
